<%= form_with(model: @user, url: sessions_path, local: true) do |f| %>

    <div>
        <%= f.text_field :name, placeholder: 'Ingresa tu nombre' %>
    </div>

    <div>
        <%= f.text_field :email, placeholder: 'Ingresa tu email' %>
    </div>
    <div>
        <%= f.password_field :password_digest, placeholder: 'Ingresa tu contraseña' %>
    </div>
    <%= f.submit "Iniciar Sesion" %>


    <p>Are you a new user?</p>
    <%= link_to('Register now', new_user_path) %>
<% end %>
