<%= form_with(model: @user, local: true) do |f| %>
    <div>
        <%= f.text_field :name, placeholder: 'Ingresa tu nombre' %>
    </div>

    <div>
        <%= f.text_field :email, placeholder: 'Ingresa tu email' %>
    </div>

    <div>
        <%= f.password_field :password, placeholder: 'Ingresa tu contraseña' %>
    </div>
    <div>
        <%= f.password_field :password_confirmation, placeholder: 'Confirma tu contraseña' %>
    </div>
    <%= f.submit "Registrarse" %>
<% end %>